/* Footer */
.container__footer {
  text-align: center;
  padding: 10px;
  font-size: x-large;
  background: #000;
  color: #79353b;
}

.container__footer .icons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.container__footer .icons a i {
  text-decoration: none;
  color: #79353b;
}

.fa-facebook-f:hover {
  color: blue !important;
  transition: ease-in-out;
}

.fa-twitter:hover {
  color: skyblue !important;
  transition: ease-in-out;
}

.fa-github-alt:hover {
  color: #fff !important;
  transition: ease-in-out;
}

.fa-linkedin-in:hover {
  color: blue !important;
  transition: ease-in-out;
}