/* General styling */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #65b9d8;
}

.container__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, 300px);
  gap: 10px 10px;
  grid-auto-flow: row;
  margin: 20px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: #172c3a;
  margin: 30px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

figure {
  margin: 0;
  grid-row: auto;
  grid-column: auto;
  overflow: hidden;
}

figure:hover {
  transform: scale(1.3);
  transition: ease-in-out;
}

.long {
  grid-row: auto/span 2;
}

.wide {
  grid-column: auto/span 2;
}

@media (max-width: 980px) {
  .container__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(250px, 250px);
    gap: 10px 10px;
    grid-auto-flow: row;
    margin: 20px;
    transition: ease-in-out;
  }

  .s-long {
    grid-row: auto/span 2;
  }

  .s-wide {
    grid-column: auto/span 2;
  }

  h2 {
  font-size: 40px;
}
}
@media (max-width: 680px) {
  .container__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, 200px);
    gap: 10px 10px;
    grid-auto-flow: row;
    margin: 20px;
    transition: ease-in-out;
  }

  .ss-long {
    grid-row: auto/span 2;
  }

  .ss-wide {
    grid-column: auto/span 2;
  }
}
