html {
  scroll-behavior: smooth;
}

/* Layout styling */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__header,
.container__footer {
  flex-shrink: 0;
}

.container__main {
  flex-grow: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  font-family: verdana;
  color: #63bcda !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #000000;
  box-shadow: 1px 1px 1px #000000;
  padding: 10px 25px;
  border-radius: 24px;
  border: 2px solid #000000;
  background: #000000;
  background: linear-gradient(to top, #000000, #79353b);
}

.btn:hover {
  color: #79353b !important;
  background: #000000;
}

.technical-skills {
  margin: 4% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-title {
  margin-bottom: 40px;
  font-size: 25px;
}

.skills-bar {
  width: 50%;
  box-shadow: 5px 5px 10px 5px rgba(23, 44, 58, 1);
  border-radius: 10px;
  padding: 25px 30px;
}

.info2 {
  padding-top: 45px;
}
.skills-bar .bar .info2 span {
  font-size: 25px;
  font-weight: 500;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #000;
  border-radius: 10px;
}

.skills-bar .bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #79353b;
  position: absolute;
  border-radius: 10px;
}

.skills-bar .bar .progress-line.html span {
  width: 80%;
}
.skills-bar .bar .progress-line.css span {
  width: 70%;
}
.skills-bar .bar .progress-line.javascript span {
  width: 50%;
}
.skills-bar .bar .progress-line.github span {
  width: 80%;
}
.skills-bar .bar .progress-line.git span {
  width: 70%;
}
.skills-bar .bar .progress-line.netlify span {
  width: 90%;
}

.skills-bar .bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  background: #000;
  color: #79353b;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 4px;
  border-radius: 3px;
}

@media (max-width: 980px) {
  .skills-bar {
    width: 90%;
  }
}
