/* General styling */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #65b9d8;
}

/* Main styling */
main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s ease;
}

.info {
  width: 35%;
  padding-top: 120px;
}

.info h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
}

.info p {
  font-size: 35px;
  color: #debb97;
}

.change {
  color: #172c3a;
}

.my-image {
  opacity: 80%;
  width: 60%;
}

.my-image img {
  width: 100%;
  height: 100%;
}

.about {
  margin: 50px 0;
  background: #172c3a;
  color: #debb97;
  border-radius: 40px;
}

.about > .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #65b9d8;
}

article {
  font-size: 25px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-title {
  color: #172c3a;
  font-size: 50px;
}

/* Media Query */
@media (max-width: 980px) {
  main {
    padding: 100px 20px;
  }

  .about > .title {
    font-size: 20px;
    font-weight: 200;
  }

  article {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  main {
    display: flex;
    padding: 100px 50px;
  }

  .info {
    width: 35%;
  }
}

@media (max-width: 690px) {
  main {
    flex-direction: column-reverse;
  }

  .info {
    width: 100%;
  }
  .my-image {
    width: 100%;
    margin-top: 50px;
  }
}
