/* General styling */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #63bcda;
}

/* Main styling */
.landing {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s ease;
  margin-right: 20px;
  margin-left: 20px;
  column-count: 2;
  column-gap: 15px;
}

.info {
  width: 40%;
}

.info h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

.info p {
  font-size: 35px;
  color: #000;
}

.info span {
  font-size: 40px;
}

.info strong {
  font-size: 65px;
}

.change {
  color: #79353b;
}

.my-image {
  opacity: 80%;
  width: 50%;
}

.my-image img {
  width: 100%;
  height: 100%;
}

.about {
  column-gap: 73px;
  padding: 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: -webkit-linear-gradient(to right, #000 0%, #79353b 62%);
  background: -moz-linear-gradient(to right, #000 0%, #79353b 62%);
  background: linear-gradient(to right, #000 0%, #79353b 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.s-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  background: -webkit-linear-gradient(to right, #000 0%, #79353b 62%);
  background: -moz-linear-gradient(to right, #000 0%, #79353b 62%);
  background: linear-gradient(to right, #000 0%, #79353b 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(to right, #79353b 20%, #000 62%);
  background: -moz-linear-gradient(to right, #79353b 20%, #000 62%);
  background: linear-gradient(to right, #79353b 20%, #000 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

/* Media Query */
@media (max-width: 980px) {
  .landing {
    height: 50vh;
    margin: 20px;
  }

  .info {
    width: 65%;
  }

  .info strong {
    font-size: 45px;
  }

  .title {
    font-size: 30px;
  }
  .s-title {
    font-size: 50px;
  }
}

@media (max-width: 680px) {
  .landing {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px;
  }

  .title {
    padding: 10px;
    font-size: 20px;
  }
  .s-title {
    padding: 10px;
    font-size: 30px;
  }

  .info {
    width: 100%;
  }

  .my-image {
    display: none;
  }

  .info span {
    font-size: 30px;
  }

  .info h1 {
    display: flex;
    justify-content: center;
  }
}
