/* General styling */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #65b9d8;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: -webkit-linear-gradient(to right, #000 20%, #79353b 62%);
  background: -moz-linear-gradient(to right, #000 20%, #79353b 62%);
  background: linear-gradient(to right, #000 20%, #79353b 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  column-count: 3;
  column-gap: 25px;
  margin: 20px;
  transition: 2s ease;
}

.box {
  box-shadow: 5px 5px 10px 5px rgba(23, 44, 58, 1);
  border-radius: 10px;
  padding: 25px 30px;
  margin: 10px;
}

strong {
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 15px;
  margin: 5px;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

figure {
  margin: 0;
  grid-row: auto;
  grid-column: auto;
  overflow: hidden;
}

figure:hover {
  transform: scale(2, 2);
}

figcaption {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 980px) {
  .project {
  column-count: 2;
  column-gap: 25px;
  margin: 20px;
}
}

@media (max-width: 680px) {
  .project {
  column-count: 1;
  column-gap: 25px;
  margin: 20px;
}
}
